SUPABASE_URL=https://vcfgeibaqdbqjtwsnafg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjZmdlaWJhcWRicWp0d3NuYWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NjkyOTAsImV4cCI6MjA5MDA0NTI5MH0.WV3nX1xEfWqGH37NYAjxkXi32pb2tvANoMK9wz734fE
SUPABASE_SERVICE_KEY=5N5iU2fUsWwRgFSxmQSla+ZxYCEZSKMmFFgMdlF8XMzrTPhqiiBlCYgdwfe/iBavkSaUQw0lVc6UJSeED4HkFQ==eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjZmdlaWJhcWRicWp0d3NuYWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQ2OTI5MCwiZXhwIjoyMDkwMDQ1MjkwfQ.EQdGHYvpjEaWxcIsteGu4nx2LM0nfuXg8fcCNf_VqTE
JWT_SECRET=5N5iU2fUsWwRgFSxmQSla+ZxYCEZSKMmFFgMdlF8XMzrTPhqiiBlCYgdwfe/iBavkSaUQw0lVc6UJSeED4HkFQ==
BACKEND_PORT=8000
